<!DOCTYPE html>
<html>
    <head>
        <title>Mon site vitrine</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li class="menu"><a href="/">Acceuil</a></li>
                    <li class="menu"><a href="/products">Produits</a></li>
                    <li class="menu"><a href="/contact">Contact</a></li>
                    <li class="menu"><a href="/about">A propos</a></li>
                </ul>
                <a style="float: left;
                color: #fff;
                text-decoration: none;
                font-size: 22px;
                font-weight: bold;
                transition: all 0.3s ease;" href="/sign_page">S'inscrire</a>
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <p>Tous droits reserves</p>
        </footer>
    </body>
</html>
