{% extends "base.html" %}
{% block content %}
<h1>Nos Produits</h1>
<form action="{{ url_for('filter_product') }}" method="post">
    <label for="category">Categorie :</label>
    <select name="category" id="category">
        <option value="">Tous</option>
        <option value="cube">cube</option>
        <option value="sphere">sphere</option>
        <option value="cône">cône</option>
        <option value="polyèdre">polyèdre</option>
        <option value="cylindre">cylindre</option>
        <option value="tétraèdre">tétraèdre</option>
        <option value="tore">tore</option>
        <option value="dodécaèdre">dodécaèdre</option>
    </select>
    <input type="submit" value="Filter">
</form>
<form action="{{ url_for('order_product') }}" method="post">
    <label for="category">order :</label>
    <select name="category" id="category">
        <option value="">Non</option>
        <option value="price">prix</option>
        <option value="score">score</option>
    </select>
    <select name="type" id="type">
        <option value="">Tous</option>
        <option value="+-">croissant</option>
        <option value="-+">décroissant</option>
    </select>
    <input type="submit" value="Filter">
</form>
<table style="border-spacing: 20px;">
    {% for product in products %}
    <tr>
        <td style="border: 5px solid rgb(255, 255, 255);">
            <img src="{{ product['image'] }}" style="height: 20%; width: 20%; float: left;">
        <div>
            <a href="{{ url_for('product_detailed', id=product['id']) }}">{{ product['name'] }}</a>
            <br>
            <span style="margin-left: 5px;margin-top: 10px;">{{ product['description']}}</span>
            <br>
            <span style="margin-left: 5px; margin-top: 10px;">Prix : {{ product['price'] }} euro</span>
            <br>
            <span style="margin-left: 5px;margin-top: 10px;">Categorie : {{ product['category'] }}</span>
        </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
