{% extends "base.html" %}
{% block content %}
<h1>Nos Produits</h1>
<form action="{{ url_for('filter_product') }}" method="post" style="margin-bottom: 20px;">
    <label for="category">Catégorie :</label>
    <select name="category" id="category" style="margin-left: 5px; padding: 5px;">
        <option value="">Tous</option>
        <option value="cube">Cube</option>
        <option value="sphere">Sphere</option>
        <option value="cône">Cône</option>
        <option value="polyèdre">Polyèdre</option>
        <option value="cylindre">Cylindre</option>
        <option value="tétraèdre">Tétraèdre</option>
        <option value="tore">Tore</option>
        <option value="dodécaèdre">Dodécaèdre</option>
    </select>
    <input type="submit" value="Filtrer" style="padding: 5px 10px; background-color: #ddd; border: none; cursor: pointer;">
</form>
<form action="{{ url_for('order_product') }}" method="post" style="margin-bottom: 20px;">
    <label for="order">Trier par :</label>
    <select name="order" id="order" style="margin-left: 5px; padding: 5px;">
        <option value="">Non</option>
        <option value="price">Prix</option>
        <option value="score">Score</option>
    </select>
    <select name="type" id="type" style="margin-left: 5px; padding: 5px;">
        <option value="">Tous</option>
        <option value="+-">Croissant</option>
        <option value="-+">Décroissant</option>
    </select>
    <input type="submit" value="Filtrer" style="padding: 5px 10px; background-color: #ddd; border: none; cursor: pointer;">
</form>

<form action="{{ url_for('search_product') }}" method="post">
    <label for="search">Recherche :</label>
    <input type="text" name="search" id="search" required style="margin-left: 5px; padding: 5px;">
    <input type="submit" value="Rechercher" style="padding: 5px 10px; background-color: #ddd; border: none; cursor: pointer;">
</form>


<table style="border-spacing: 20px;">
    {% for product in products %}
    <tr>
        <td style="border: 5px solid rgb(255, 255, 255);">
            <img src="{{ product['image'] }}" style="height: 20%; width: 20%; float: left;">
        <div>
            <a href="{{ url_for('product_detailed', id=product['id']) }}">{{ product['name'] }}</a>
            <br>
            <span style="margin-left: 5px;margin-top: 10px;">{{ product['description']}}</span>
            <br>
            <span style="margin-left: 5px; margin-top: 10px;">Prix : {{ product['price'] }} euro</span>
            <br>
            <span style="margin-left: 5px;margin-top: 10px;">Categorie : {{ product['category'] }}</span>
        </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
